<!DOCTYPE html>
<html lang='en'>
<head>
  <% include partials/_header %>
</head>
<body style='font-size:20px; padding:50px;'>
  <main>
    <h3>Your tiny linkz is: <%= shortURL %></h3>
    <b><%= longURL %></b> is now reachable at <a href='/u/<%= shortURL %>'>/u/<%= shortURL %></a>
    <br>
    Total # of visits: <%= visitors.total.length %>
    <br>
    # of unique visits: <%= visitors.unique %>
    <br>
    Details of each visit:
    <ul>
      <% visitors.total.forEach((visit) => { %>
        <li><%= visit.id %> visited at <%= visit.time %>
      <% }) %>
    </ul>
    <br>
    <form method='POST' action='/urls/<%= shortURL %>?_method=PUT'><input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'><input type='submit' value='update'></form>
    <br>
    <form method='POST' action='/urls/<%= shortURL %>?_method=DELETE'><input type='submit' value='delete'></form>
  </main>
</body>
</html>
