<!DOCTYPE html>
<html lang='en'>
<head>
  <% include partials/_header %>
</head>
<body style='font-size:20px; padding:50px;'>
  <main>
    <% if (!userId) { %>
      Please log in to view your Tiny Linkz :)
    <% } else { %>
      <ul>
        <% for (url in urls) {%>
          <li><a href='/urls/<%= urls[url].shortURL %>'><%= urls[url].shortURL %></a>: <%= urls[url].longURL %> - <a href='/urls/<%= urls[url].shortURL %>'>update</a><form method='POST' action='/urls/<%= urls[url].shortURL %>?_method=DELETE'><input type='submit' value='delete'></form>
        <% } %>
      </ul>
       <a href='/urls/new'>Tiny-fy your linkz nao :)</a>
    <% } %>
  </main>
</body>
</html>
